.btn {
  outline: none;
  padding: 1rem;

  &-round {
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #92918e;
    color: #f4f2ed;
    font-size: 1.2rem;
    margin-right: 0.8rem;
  }

  &-link {
    color: #f4f2ed;
    text-decoration: none;
    text-transform: uppercase;
  }

  &-primary {
    background-color: #161616;
    border: 1px solid #161616;
    border-radius: 0.5rem;
    color: #f4f2ed;
    text-transform: uppercase;
    font-size: 0.9rem;
    white-space: nowrap;
  }
}

button {
  cursor: pointer;
}

i {
  font-size: 1.2rem;
}
