.btn {
  outline: none;
  padding: 1rem;
}
.btn-round {
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #92918e;
  color: #f4f2ed;
  font-size: 1.2rem;
  margin-right: 0.8rem;
}
.btn-link {
  color: #f4f2ed;
  text-decoration: none;
  text-transform: uppercase;
}
.btn-primary {
  background-color: #161616;
  border: 1px solid #161616;
  border-radius: 0.5rem;
  color: #f4f2ed;
  text-transform: uppercase;
  font-size: 0.9rem;
  white-space: nowrap;
}

button {
  cursor: pointer;
}

i {
  font-size: 1.2rem;
}

footer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

div.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1e1e1e;
  border-radius: 1rem;
}
div.left img {
  width: 5rem;
  padding: 1rem;
}
div.left div {
  padding: 1rem;
}

div.right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;
}
div.right div {
  background-color: #1e1e1e;
  border-radius: 1rem;
}
div.right .right-top {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
}
div.right .right-top div {
  width: 100%;
}
div.right .right-top div h4 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #f4f2ed;
  font-family: "Chillax-regular";
  font-weight: 400;
}
div.right .right-top div ul {
  list-style: none;
  line-height: 2;
}
div.right .right-top div ul li a {
  text-decoration: none;
  color: #92918e;
  font-size: 1rem;
  text-transform: uppercase;
}
div.right .right-bottom {
  padding: 1rem;
  text-align: center;
}
div.right .right-bottom p {
  color: #92918e;
  font-size: 2rem;
  text-transform: uppercase;
}
div.right .right-bottom p span {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: red;
  -webkit-text-fill-color: transparent;
  background-image: url("./heart.webp");
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-stroke-width: 0px;
}
div.right .right-bottom p span i {
  color: red;
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }
  div.left img {
    width: 7rem;
  }
  div.right .right-top {
    flex-direction: row;
  }
  div.right .right-top div {
    width: 25%;
  }
}
header {
  background-color: #000000;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}
header nav ul li {
  list-style: none;
}
header nav ul li .btn-link {
  background-color: #2a2a2a;
  display: none;
}
header nav ul li:nth-last-child(2) .btn-link {
  display: block;
}
header nav ul li:nth-last-child(2) .btn-link span {
  background-color: #cebd63;
  padding: 0.3rem;
  border-radius: 50%;
}
header nav ul li:last-child .btn-link {
  display: block;
  background-color: #cebd63;
  color: #1a1a1a;
}

@media screen and (min-width: 768px) {
  header nav ul li .btn-link {
    display: block;
  }
}
@font-face {
  font-family: "Chillax-regular";
  src: url("./Fonts/WEB/fonts/Chillax-Regular.ttf");
}
@font-face {
  font-family: "satoshi";
  src: url("./Fonts/Satoshi/Satoshi-Light.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  width: 100%;
  height: 100%;
}

html {
  font-size: clamp(14px, 1vw, 18px);
  font-family: "Roboto", sans-serif;
}

section {
  width: 100%;
  max-width: 2000px;
  padding: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
main .hero-section-one {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .hero-section-one .img-container {
  width: 100%;
  order: 1;
}
main .hero-section-one .img-container .hero-img {
  width: 100%;
  border-radius: 1rem;
}
main .hero-section-one .hero-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  padding: 2.5rem;
  border-radius: 1rem;
  order: 1;
}
main .hero-section-one .hero-content .sub-title {
  font-size: 1rem;
  font-weight: 400;
  color: #92918e;
  text-transform: uppercase;
}
main .hero-section-one .hero-content div .title {
  font-family: "Chillax-regular";
  font-size: 3rem;
  font-weight: 400;
  color: #f4f2ed;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}
main .hero-section-one .hero-content div .description {
  font-family: "satoshi";
  font-size: 1.2rem;
  font-weight: 300;
  color: #92918e;
}
main .hero-section-one .hero-content div div {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.8rem;
}
main .status-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.5rem;
}
main .status-container div {
  text-align: center;
}
main .status-container div p {
  font-size: 1rem;
  font-weight: 400;
  color: #92918e;
  text-transform: uppercase;
}
main .status-container div h2 {
  font-family: "Chillax-regular";
  font-size: 3rem;
  font-weight: 400;
  color: #f4f2ed;
}
main .hero-section-two {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .hero-section-two .img-container {
  width: 100%;
  order: 1;
}
main .hero-section-two .img-container .hero-img {
  width: 100%;
  border-radius: 1rem;
}
main .hero-section-two .hero-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  padding: 2.5rem;
  border-radius: 1rem;
  order: 1;
}
main .hero-section-two .hero-content .sub-title {
  font-size: 1rem;
  font-weight: 400;
  color: #92918e;
  text-transform: uppercase;
}
main .hero-section-two .hero-content div .title {
  font-family: "Chillax-regular";
  font-size: 3rem;
  font-weight: 400;
  color: #f4f2ed;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}
main .hero-section-two .hero-content div .description {
  font-family: "satoshi";
  font-size: 1.2rem;
  font-weight: 300;
  color: #92918e;
}
main .hero-section-two .hero-content div div {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.8rem;
}
main .team-container h2 {
  font-family: "Chillax-regular";
  font-size: 3rem;
  font-weight: 400;
  color: #f4f2ed;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
main .team-container .team-images {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
main .team-container .team-images div {
  width: 100%;
  position: relative;
  overflow: hidden;
}
main .team-container .team-images div img {
  width: 100%;
  border-radius: 1rem;
}
main .team-container .team-images div .img-overlay {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  border-radius: 1rem;
  top: 0%;
}
main .team-container .team-images div .img-overlay .top {
  padding: 1rem;
  color: #f4f2ed;
  text-align: end;
  width: 100%;
}
main .team-container .team-images div .img-overlay .top button {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
  font-weight: 100;
}
main .team-container .team-images div .img-overlay .bottom {
  border-radius: 0.5rem;
  border: 1px solid #92918e;
  padding: 1rem;
  position: absolute;
  bottom: 5%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  color: #f4f2ed;
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
main .team-container .team-images div .img-overlay .bottom h4 {
  font-family: "Chillax-regular";
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
}
main .team-container .team-images div .img-overlay .bottom p {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "satoshi";
}
main .contact-us-container {
  padding: 1.5rem;
  background: #cebd63;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}
main .contact-us-container div .sub-title {
  font-size: 1rem;
  font-weight: 400;
  color: #1a1a1a;
  text-transform: uppercase;
}
main .contact-us-container div .title {
  font-family: "Chillax-regular";
  font-size: 3.5rem;
  font-weight: 400;
  color: #1a1a1a;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  main .hero-section-two .img-container {
    width: 100%;
    order: 2;
  }
  main .hero-section-two .img-container .hero-img {
    width: 100%;
    border-radius: 1rem;
  }
  main .hero-section-two .hero-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    padding: 2.5rem;
    border-radius: 1rem;
    order: 1;
  }
  main .hero-section-two .hero-content .sub-title {
    font-size: 1rem;
    font-weight: 400;
    color: #92918e;
    text-transform: uppercase;
  }
  main .hero-section-two .hero-content div .title {
    font-family: "Chillax-regular";
    font-size: 3rem;
    font-weight: 400;
    color: #f4f2ed;
    line-height: 1.2;
    margin-bottom: 0.5rem;
  }
  main .hero-section-two .hero-content div .description {
    font-family: "satoshi";
    font-size: 1.2rem;
    font-weight: 300;
    color: #92918e;
  }
  main .hero-section-two .hero-content div div {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 0.8rem;
  }
  main .hero-section {
    display: flex;
    flex-direction: row;
  }
  main .hero-section .hero-img {
    width: 50%;
  }
  main .hero-section .hero-content {
    justify-content: space-between;
  }
  main .hero-section .hero-content div .title {
    font-size: 4rem;
  }
  main .status-container {
    padding: 3rem;
  }
  main .status-container div h2 {
    font-size: 4rem;
  }
  main .team-container .team-images {
    display: flex;
    flex-direction: row;
  }
  main .contact-us-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  main .contact-us-container div .title {
    font-size: 5.5rem;
    line-height: 1;
  }
  main .contact-us-container .btn-container {
    align-self: flex-end;
  }
}/*# sourceMappingURL=style.css.map */